#------------------------------------------------------------------------------
{{ template "header.tmpl" . }}#------------------------------------------------------------------------------

Note - Title: {{.Title}}
Description: {{.Description}}

#------------------------------------------------------------------------------
{{ template "footer.tmpl" . }}#------------------------------------------------------------------------------
